table{
    height: 100%;
    width: 90%;
    border-spacing: 0px;
    position: absolute;
    left: 0%;
    top: 0%;
    box-sizing: border-box;
}
td{
    box-sizing: border-box;
    background-color: #1F4E78;
    height: calc(100% / 8);
    width: calc(100% / 8);
}
td button{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: #5B9BD5;
    border-color: #5B9BD5;
    color: firebrick;
    font-size: 10vh;
    padding: 0;
    cursor: pointer;
}
#side-bar{
    height: 100%;
    width: 10%;

    position: absolute;
    right: 0%;
    top: 0%;

    box-sizing: border-box;
    padding: 10px;

    background-color: #B1403D;
}
.menu-item{
    display: flex;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;

    box-sizing: border-box;
    margin-bottom: 10px;
    border: solid 3px goldenrod;
    border-radius: 25px;

    color: goldenrod;
    font-size: 5vw;
    cursor: pointer;
}

.clicked {
    background-color: #fff;
    border: none;
    cursor: default;
}
.td-clicked{
    color: lightgray;
}
.number-0{
    color: #fff;
}
.number-1{
    color: royalblue;
}
.number-2{
    color: green;
}
.number-3{
    color: limegreen;
}
.number-4{
    color: yellow;
}
.number-5{
    color: orange;
}
.number-6{
    color: red;
}
.number-7{
    color: darkred;
}
.number-8{
    color: black;
}
.exploded{
    background-color: firebrick;
    border-color: firebrick;
    animation: explosion 1s;
}
@keyframes explosion{
    from{background-color: #5B9BD5; border-color: #1F4E78;}
    to{ background-color: firebrick; border-color: firebrick;}
}
#modal-quit div.content{
    overflow: hidden;
}
.modal-quit-content-container,
.modal-end-content-container {
    height: 100%;
    width: 100%;
}
.pulsing-btn{
    animation-name: puls;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}
@keyframes puls {
    0%{
        background-color: goldenrod;
        border-color: goldenrod;
    }
    50%{
        background-color: #5B9BD5;
        border-color: #1F4E78;
    }
    100%{
        background-color: goldenrod;
        border-color: goldenrod;
    }
}