:root {
  /* colors */
  --white: #fefefe;
  --black: #131313;
  --dark-red: hsl(0, 69%, 34%);
  --red: hsl(0, 60%, 52%);
  --light-blue: hsl(189, 43%, 68%);
  --purple: hsl(258, 22%, 36%);
  --ultra-light-red: #FFD4D4;
  --dark-purple: #36213e;
  --slate-gray: #63768d;
  --ultra-light-blue: hsl(190, 100%, 95%);
  --indicator-0: #fefefe;
  --indicator-1: hsl(258, 43%, 40%);
  --indicator-2: hsl(189, 43%, 40%);
  --indicator-3: hsl(128, 43%, 40%);
  --indicator-4: hsl(54, 43%, 40%);
  --indicator-5: hsl(24, 43%, 40%);
  --indicator-6: hsl(0, 43%, 40%);
  --indicator-7: hsl(0, 43%, 25%);
}
#root {
  height: 100%;
  width: 100%;
}
.App {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.App button.start-game {
  height: 6rem;
  width: 30rem;
  box-sizing: border-box;
  padding: 1.5rem;
  border-radius: 1.5rem;
  font-family: var(--font-family);
  background-color: var(--dark-purple);
  color: var(--white);
  font-weight: 600;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: auto;
  border: none;
  cursor: pointer;
}
#modal-defeat-message {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 0.75rem;
  font-size: 2rem;
  font-family: var(--font-family);
  letter-spacing: 2px;
}
#settings-modal-body {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  row-gap: 0.75rem;
  font-family: var(--font-family);
  letter-spacing: 2px;
}
#settings-modal-body label {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  font-size: 1.5rem;
  font-family: var(--font-family);
}
#settings-modal-body label span{
  font-weight: 600;
  letter-spacing: 2px;
}
#settings-modal-body label:focus-within span{
  color: var(--purple);
}
#settings-modal-body label input{
  font: inherit;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: none;
  outline: 2.5px solid var(--black);
}
#settings-modal-body label input:focus{
  outline: 2px solid var(--purple);
} 
#modal-defeat-message {
  height: 100%;
  width: 100%;
  font-size: 1.5rem;
  font-family: var(--font-family);
  letter-spacing: 2px;
}
code {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border-radius: 0.35rem;
  background-color: var(--black);
  color: var(--white);
  font-weight: 600;
}
li {
  margin: 0.35rem;
}